$col-base: #000000;
$col-hover-base: rgba($col-base, 0.7);
$col-focus-base: rgba($col-base, 0.7);
$col-active-base: rgba($col-base, 0.3);

$col-primary: #000000;
$col-hover-primary: rgba($col-primary, 0.7);
$col-focus-primary: rgba($col-primary, 0.7);
$col-active-primary: rgba($col-primary, 0.3);

$col-secondary: #000000;
$col-hover-secondary: rgba($col-secondary, 0.7);
$col-focus-secondary: rgba($col-secondary, 0.7);
$col-active-secondary: rgba($col-secondary, 0.7);
