$size-base-mob: 16px;
$size-primary-mob: 18px;
$size-secondary-mob: 20px;

$height-base-mob: 20px;
$height-primary-mob: 22px;
$height-secondary-mob: 24px;

$size-base-tablet: 32px;
$size-primary-tablet: 33px;
$size-secondary-tablet: 34px;

$height-base-tablet: 36px;
$height-primary-tablet: 37px;
$height-secondary-tablet: 38px;

$size-base-desktop: 16px;
$size-primary-desktop: 20px;
$size-secondary-desktop: 26px;

$height-base-desktop: 20px;
$height-primary-desktop: 22px;
$height-secondary-desktop: 28px;

$col-base: rgba(#000000, 0.6);
$col-base-hover: rgba(#000000, 0.6);
$col-base-focus: rgba(#000000, 0.6);
$col-base-active: rgba(#000000, 1);
$col-base-disabled: rgba(#000000, 0.3);

$col-primary: rgba(#000000, 0.6);
$col-primary-hover: rgba(#000000, 0.6);
$col-primary-focus: rgba(#000000, 0.6);
$col-primary-active: rgba(#000000, 0.6);
$col-primary-disabled: rgba(#000000, 0.6);

$col-secondary: rgba(#000000, 0.6);
$col-secondary-hover: rgba(#000000, 0.6);
$col-secondary-focus: rgba(#000000, 0.6);
$col-secondary-active: rgba(#000000, 0.6);
$col-secondary-disabled: rgba(#000000, 0.6);

$bg-base: #e6e6e6;
$bg-base-hover: rgba(#000000, 0.6);
$bg-base-focus: rgba(#000000, 0.6);
$bg-base-active: rgba(#000000, 0.6);
$bg-base-disabled: rgba(#000000, 0.6);

$bg-primary: rgba(#000000, 0.6);
$bg-primary-hover: rgba(#000000, 0.6);
$bg-primary-focus: rgba(#000000, 0.6);
$bg-primary-active: rgba(#000000, 0.6);
$bg-primary-disabled: rgba(#000000, 0.6);

$bg-secondary: rgba(#000000, 0.6);
$bg-secondary-hover: rgba(#000000, 0.6);
$bg-secondary-focus: rgba(#000000, 0.6);
$bg-secondary-active: rgba(#000000, 0.6);
$bg-secondary-disabled: rgba(#000000, 0.6);

