@use "./../variables.scss" as var;

$size-mob: 18px;
$size-tablet: 18px;
$size-desctop: 18px;

$height-mob: 21px;
$height-tablet: 21px;
$height-desctop: 21px;

$col-base: #ffffff;
$col-hover-base: rgba($col-base, 0.7);
$col-focus-base: rgba($col-base, 0.7);
$col-active-base: rgba($col-base, 0.3);
$col-disabled-base: #ffffff;

$bg-base: #756157;
$bg-hover-base: #615048;
$bg-focus-base: #615048;
$bg-active-base: #756157;
$bg-disabled-base: #e5e5e5;

$col-primary: #ffffff;
$col-hover-primary: rgba($col-primary, 0.7);
$col-focus-primary: rgba($col-primary, 0.7);
$col-active-primary: rgba($col-primary, 0.3);
$col-disabled-primary: #ffffff;

$bg-primary: #82b3d3;
$bg-hover-primary: #68a2ca;
$bg-focus-primary: #68a2ca;
$bg-active-primary: #82b3d3;
$bg-disabled-primary: #e5e5e5;

$col-secondary: #ffffff;
$col-hover-secondary: rgba($col-secondary, 0.7);
$col-focus-secondary: rgba($col-secondary, 0.7);
$col-active-secondary: rgba($col-secondary, 0.3);
$col-disabled-secondary: #ffffff;

$bg-secondary: #7db54f;
$bg-hover-secondary: #6c9e42;
$bg-focus-secondary: #6c9e42;
$bg-active-secondary: #7db54f;
$bg-disabled-secondary: #e5e5e5;

:root {
  --btn-size: #{$size-mob};
  --btn-height: #{$height-mob};
}

@media (min-width: var.$tablet-width) {
  :root {
    --btn-size: #{$size-tablet};
    --btn-height: #{$height-tablet};
  }
}

@media (min-width: var.$desctop-width) {
  :root {
    --btn-size: #{$size-desctop};
    --btn-height: #{$height-desctop};
  }
}
