@use "./radio.var.scss" as radio;

.radio {
  cursor: pointer;
  display: block;

  &--base {
    font-size: var(--radio-size--base);
    line-height: var(--radio-height--base);
    color: radio.$col-base;
    transition: opacity ease-in-out 0.3s;

    &:hover {
      opacity: 0.6;
    }

    &:focus {
      opacity: 1;
    }

    &:active {
      opacity: 0.3;
    }

    &:disabled {
      opacity: 0.1;
    }

    & .input-action {
      margin: 0;
      position: relative;
      appearance: none;
      display: flex;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: radio.$bg-base;

      &:checked::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: radio.$bg-base--active;
      }
    }
  }
}
