@use "./checkbox.var.scss" as checkbox;

.checkbox {
  cursor: pointer;
  display: flex;
  align-items: center;

  &--base {
    font-size: var(--checkbox-size--base);
    line-height: var(--checkbox-height--base);
    color: checkbox.$col-base;
    transition: opacity ease-in-out 0.3s;

    &:hover {
      opacity: 0.6;
    }

    &:focus {
      opacity: 1;
    }

    &:active {
      opacity: 0.3;
    }

    &:disabled {
      opacity: 0.1;
    }

    & .checkbox-wrapper {
      position: relative;
    }

    & .input-action {
      margin: 0;
      appearance: none;
      display: flex;
      width: 20px;
      height: 20px;
      border-radius: 4px;
      background-color: checkbox.$bg-base;
    }
  }
}
