:root {
  //Background

  --bg-base: #f2f2f2;
  --bg-primary: #ffffff;
  --bg-secondary: #82b3d3;

  //Text colors

  --text-col-base: #000000;
  --text-col-primary: #000000;
  --text-col-secondary: #000000;

  --title-col-primary: #000000;
  --title-col-secondary: #000000;

  --subtitle-col-primary: #000000;
  --subtitle-col-secondary: #000000;

  --description-col-primary: #000000;
  --description-col-secondary: #000000;

  --error-col-base: #ff5757;
  --error-col-primary: #ff5757;
  --error-col-secondary: #ff5757;


  //Inputs

  --input-col-base: #ffffff;
  --input-col-primary: #ffffff;
  --input-col-secondary: #ffffff;

  --input-hover-base: #ffffff;
  --input-hover-primary: #ffffff;
  --input-hover-secondary: #ffffff;

  --input-active-base: #ffffff;
  --input-active-primary: #ffffff;
  --input-active-secondary: #ffffff;


  //Checkbox

  //Radio

  //icons
}
