//-----Width view

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;

$max-width: calc($desktop-width + 20px);

//----Grid template

$grid-gap-mob: 20px;
$grid-gap-tablet: 20px;
$grid-gap-desktop: 24px;

$grid-column-mob: 4;
$grid-column-tablet: 8;
$grid-column-desktop: 12;

$grid-size-mob: 60px;
$grid-size-tablet: 76px;
$grid-size-desktop: 78px;

//----root css

:root {
  --grid-gap: #{$grid-gap-mob};
  --grid-column: #{$grid-column-mob};
  --grid-size: #{$grid-size-mob};
}

@media (min-width: $tablet-width) {
  :root {
    --grid-gap: #{$grid-gap-tablet};
    --grid-column: #{$grid-column-tablet};
    --grid-size: #{$grid-size-tablet};
  }
}

@media (min-width: $desktop-width) {
  :root {
    --grid-gap: #{$grid-gap-desktop};
    --grid-column: #{$grid-column-desktop};
    --grid-size: #{$grid-size-desktop};
  }
}
